@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,300;0,500;1,800&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header div {
    width: 15%; }
    header div .logo .titulo {
      font-family: 'Gochi Hand', cursive;
      font-weight: 200px;
      color: #851621;
      padding-left: 20px;
      align-items: start; }
  header nav ul {
    display: flex;
    width: 70%; }
    header nav ul li a {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: #acacb6;
      margin: 10px 40px 10px;
      border: solid #acacb6 1px;
      border-radius: 5px;
      padding: 5px;
      background: rgba(172, 172, 182, 0.4);
      transition: .5s; }
      header nav ul li a:hover {
        color: #851621; }

/*-------- INICIO MAIN INDEX--------*/
.principal {
  width: 100%; }
  .principal .hero {
    background-image: url("../img/porfin.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke; }
    .principal .hero p {
      font-family: 'Poppins', sans-serif;
      color: whitesmoke;
      font-size: 20px;
      justify-content: center;
      padding-top: 200px;
      text-transform: uppercase;
      letter-spacing: 5px; }
    .principal .hero .enunciado {
      font-family: 'Gochi Hand', cursive;
      width: 80%;
      height: 200px;
      margin: auto;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px; }
      .principal .hero .enunciado h2 span {
        font-size: 30px;
        color: #851621; }
  .principal .bienvenida {
    background-color: whitesmoke;
    width: 100%;
    font-family: 'Gochi Hand', cursive;
    font-size: 50px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px; }
    .principal .bienvenida div img {
      width: 300px;
      height: 400px;
      border: solid gray;
      border-radius: 20px; }
    .principal .bienvenida p {
      text-align: center;
      margin-top: 20px;
      width: 50%; }

/*--------- FINAL MAIN INDEX------*/
/*---------- INICIO MAIN ABOUT--------*/
.about {
  background-image: url(../img/porfin.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  justify-content: space-evenly; }
  .about .picture img {
    width: 300px;
    height: 300px;
    border: solid gray;
    border-radius: 10px;
    margin: 90px 0 30px 100px; }
  .about .descripcion {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 20px; }
    .about .descripcion h2 {
      height: 50px;
      font-family: 'Gochi Hand', cursive;
      font-size: 40px;
      color: whitesmoke;
      margin-bottom: 20px; }
    .about .descripcion h3 {
      height: 50px;
      font-family: 'Gochi Hand', cursive;
      font-size: 40px;
      color: whitesmoke;
      margin-bottom: 20px; }
    .about .descripcion a {
      width: 100px;
      height: 20px;
      background-color: gray;
      font-family: 'Gochi Hand', cursive;
      color: whitesmoke;
      font-size: 10px;
      border: solid 2px black;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 5px;
      padding: 5px;
      transition: .5s; }
      .about .descripcion a:hover {
        color: #851621; }

.aboutskills {
  background-color: gray;
  width: 100%;
  height: 500px; }
  .aboutskills h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: nth 10px, 12px, 20px, 30px, 40px, 50px, 6;
    color: nth whitesmoke, black, #851621, #acacb6, gray, beige, white, 2;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .aboutskills .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; }
    .aboutskills .skills:hover > :not(:hover) {
      opacity: .4;
      transform: scale(0.9); }
    .aboutskills .skills .html {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: beige;
      border: solid 2px #851621;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      transition: .3s all ease;
      margin-left: 10px; }
      .aboutskills .skills .html:hover {
        flex: 2;
        background-color: #851621; }
    .aboutskills .skills .css {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: beige;
      border: solid 2px #851621;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      transition: .3s all ease;
      margin-left: 10px; }
      .aboutskills .skills .css:hover {
        flex: 2;
        background-color: #851621; }
    .aboutskills .skills .javascript {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: beige;
      border: solid 2px #851621;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      transition: .3s all ease;
      margin-left: 10px; }
      .aboutskills .skills .javascript:hover {
        flex: 2;
        background-color: #851621; }
    .aboutskills .skills .java {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: beige;
      border: solid 2px #851621;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      transition: .3s all ease;
      margin-left: 10px; }
      .aboutskills .skills .java:hover {
        flex: 2;
        background-color: #851621; }
    .aboutskills .skills .python {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: beige;
      border: solid 2px #851621;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      transition: .3s all ease;
      margin-left: 10px; }
      .aboutskills .skills .python:hover {
        flex: 2;
        background-color: #851621; }
    .aboutskills .skills .reactjs {
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: beige;
      border: solid 2px #851621;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      transition: .3s all ease;
      margin-left: 10px; }
      .aboutskills .skills .reactjs:hover {
        flex: 2;
        background-color: #851621; }

/*-----------FINAL MAIN ABOUT---------*/
/*--------INICIO MAIN SERVICES------*/
.services {
  background-image: url(../img/porfin.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .services h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .services .jobs {
    text-align: center;
    color: beige(224, 210, 210);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    margin-top: 100px; }
    .services .jobs .designer {
      font-family: 'Gochi Hand', cursive;
      font-size: 30px;
      color: #851621; }
      .services .jobs .designer img {
        margin-top: 20px;
        width: 350px;
        height: 200px;
        border: solid;
        border-radius: 10px;
        color: white;
        transition: all .3s; }
        .services .jobs .designer img:hover {
          transform: scale(1.15); }
    .services .jobs .backend {
      font-family: 'Gochi Hand', cursive;
      font-size: 30px;
      color: #851621; }
      .services .jobs .backend img {
        margin-top: 20px;
        width: 350px;
        height: 200px;
        border: solid;
        border-radius: 10px;
        color: white;
        transition: all .3s; }
        .services .jobs .backend img:hover {
          transform: scale(1.15); }
    .services .jobs .frontend {
      font-family: 'Gochi Hand', cursive;
      font-size: 30px;
      color: #851621; }
      .services .jobs .frontend img {
        margin-top: 20px;
        width: 350px;
        height: 200px;
        border: solid;
        border-radius: 10px;
        color: white;
        transition: all .3s; }
        .services .jobs .frontend img:hover {
          transform: scale(1.15); }

/*--------FIN MAIN SERVICE-----*/
/*--------INICIO MAIN PORTFOLIO-------*/
.portfolio {
  background-image: url("../img/porfin.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .portfolio h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .portfolio .por .onetwo {
    display: grid;
    grid-template-columns: repeat(2, 2fr); }
    .portfolio .por .onetwo .apple a img {
      width: 350px;
      height: 250px;
      border: solid black;
      border-radius: 20px;
      margin-top: 20px;
      margin-left: 150px;
      transition: all .3s; }
      .portfolio .por .onetwo .apple a img:hover {
        transform: scale(1.15); }
    .portfolio .por .onetwo .samsung a img {
      width: 350px;
      height: 250px;
      border: solid black;
      border-radius: 20px;
      margin-top: 20px;
      margin-left: 100px;
      transition: all .3s; }
      .portfolio .por .onetwo .samsung a img:hover {
        transform: scale(1.15); }
    .portfolio .por .onetwo .despegar a img {
      width: 350px;
      height: 250px;
      border: solid black;
      border-radius: 20px;
      margin-top: 50px;
      margin-left: 150px;
      margin-bottom: 50px;
      transition: all .3s; }
      .portfolio .por .onetwo .despegar a img:hover {
        transform: scale(1.15); }
    .portfolio .por .onetwo .amazon a img {
      width: 350px;
      height: 250px;
      border: solid black;
      border-radius: 20px;
      margin-top: 50px;
      margin-left: 100px;
      margin-bottom: 50px;
      transition: all .3s; }
      .portfolio .por .onetwo .amazon a img:hover {
        transform: scale(1.15); }

/*--------FIN MAIN PORTFOLIO-----*/
/*--------INICIO MAIN CONTACTO-------*/
.contact {
  background-image: url("../img/porfin.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*---------- Bootstrap-------*/ }
  .contact h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: whitesmoke;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .contact .input {
    width: 90%;
    height: 400px;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: #851621;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact .input .mb-3 {
      width: 250px;
      height: 200px; }
    .contact .input .mb-4 {
      width: 250px;
      height: 200px; }
    .contact .input .botones .submit {
      width: 100px;
      height: 40px;
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: gray;
      border: solid gray 1px;
      border-radius: 5px;
      padding: 5px;
      background: rgba(172, 172, 182, 0.4);
      transition: .5s; }
      .contact .input .botones .submit:hover {
        color: #851621; }
    .contact .input .botones .reset {
      width: 120px;
      height: 40px;
      font-family: 'Gochi Hand', cursive;
      font-size: 20px;
      color: gray;
      border: solid gray 1px;
      border-radius: 5px;
      padding: 5px;
      background: rgba(172, 172, 182, 0.4);
      transition: .5s; }
      .contact .input .botones .reset:hover {
        color: #851621; }

footer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto; }
  footer div {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer div a img {
      height: 30px;
      border: solid black;
      border-radius: 10px;
      margin: 0 10px; }
  footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;
    color: #851621;
    text-transform: uppercase;
    letter-spacing: 5px; }

@media screen and (max-width: 1200px) {
  .services {
    height: 1000px; }
    .services .jobs {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px; } }

@media screen and (max-width: 1000px) {
  .portfolio .por .onetwo .apple a img {
    margin-left: 100px;
    width: 300px;
    height: 200px; }
  .portfolio .por .onetwo .samsung a img {
    margin-left: 0;
    width: 300px;
    height: 200px; }
  .portfolio .por .onetwo .despegar {
    height: 230px; }
    .portfolio .por .onetwo .despegar a img {
      margin-left: 100px;
      width: 300px;
      height: 200px; }
  .portfolio .por .onetwo .amazon a img {
    margin-left: 0;
    width: 300px;
    height: 200px; } }

@media screen and (max-width: 830px) {
  header nav ul li a {
    display: flex;
    justify-content: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border: solid #acacb6 1px;
    border-radius: 2px; }
  .titulo {
    font-family: 'Gochi Hand', cursive;
    font-size: 20px; }
  .enunciado h2 {
    font-size: 15px; }
  .bienvenida {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; }
    .bienvenida p {
      font-size: 20px; }
  .about .picture img {
    width: 200px;
    height: 300px; }
  .about .descripcion {
    flex-direction: column;
    height: 300px;
    width: 400px; }
    .about .descripcion h2 {
      height: 70px; }
  .aboutskills h2 {
    height: 70px;
    font-size: 30px;
    padding: 10px; }
  .aboutskills .skills {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px; }
  .portfolio {
    height: 1200px; }
    .portfolio .por .onetwo {
      grid-template-columns: repeat(1, 1fr); }
      .portfolio .por .onetwo .apple {
        margin: 5px; }
        .portfolio .por .onetwo .apple a img {
          width: 250px;
          height: 200px; }
      .portfolio .por .onetwo .samsung {
        margin: 5px 0 5px 100px; }
        .portfolio .por .onetwo .samsung a img {
          width: 250px;
          height: 200px; }
      .portfolio .por .onetwo .despegar {
        margin: 0; }
        .portfolio .por .onetwo .despegar a img {
          width: 250px;
          height: 200px; }
      .portfolio .por .onetwo .amazon {
        margin: 5px 0 5px 100px; }
        .portfolio .por .onetwo .amazon a img {
          width: 250px;
          height: 200px; } }

@media screen and (max-width: 600px) {
  header nav ul li a {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 10px;
    border: solid #acacb6 1px; }
  .about {
    flex-direction: column;
    align-items: center; }
    .about .picture {
      width: 300px;
      height: 200px;
      margin: 50px 50% 0; }
      .about .picture img {
        width: 300px;
        height: 200px;
        margin: 0px 50px 50px 0; }
    .about .descripcion {
      flex-direction: column;
      align-items: center;
      height: 200px;
      margin-top: 5px; }
      .about .descripcion h2 {
        font-size: 30px;
        height: 40px; }
      .about .descripcion h3 {
        font-size: 30px;
        height: 20px; }
  .aboutskills {
    height: 800px; }
    .aboutskills .skills {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 100px;
      grid-row-gap: 2px; }
  .services {
    height: 800px; }
    .services h2 {
      font-size: 30px; }
    .services .jobs .designer h3 {
      font-size: 20px; }
    .services .jobs .designer img {
      width: 300px;
      height: 150px; }
    .services .jobs .backend h3 {
      font-size: 20px; }
    .services .jobs .backend img {
      width: 300px;
      height: 150px; }
    .services .jobs .frontend h3 {
      font-size: 20px; }
    .services .jobs .frontend img {
      width: 300px;
      height: 150px; } }

@media screen and (max-width: 400px) {
  header nav ul li a {
    font-size: 10px;
    margin-right: 5px;
    margin-left: 1px; }
  .about .picture {
    width: 250px;
    height: 150px;
    margin: 50px 50% 0; }
    .about .picture img {
      width: 250px;
      height: 150px;
      margin: 0px 50px 50px 0; }
  .services {
    height: 800px; }
    .services h2 {
      font-size: 20px; }
    .services .jobs .designer img {
      width: 250px;
      height: 150px; }
    .services .jobs .backend img {
      width: 250px;
      height: 150px; }
    .services .jobs .frontend img {
      width: 250px;
      height: 150px; }
  .portfolio {
    height: 1000px; }
    .portfolio .por .onetwo {
      grid-template-columns: repeat(1, 1fr); }
      .portfolio .por .onetwo .apple {
        margin: 5px; }
        .portfolio .por .onetwo .apple a img {
          width: 200px;
          height: 150px; }
      .portfolio .por .onetwo .samsung {
        margin: 5px 0 5px 100px; }
        .portfolio .por .onetwo .samsung a img {
          width: 200px;
          height: 150px; }
      .portfolio .por .onetwo .despegar {
        margin: 0; }
        .portfolio .por .onetwo .despegar a img {
          width: 200px;
          height: 150px; }
      .portfolio .por .onetwo .amazon {
        margin: 5px 0 5px 100px; }
        .portfolio .por .onetwo .amazon a img {
          width: 200px;
          height: 150px; } }
