@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,300;0,500;1,800&display=swap');

/*----------RESET----------*/

*{
    margin: 0;
    padding: 0;
}

/*----------ALLTHEPAGES---------*/

body{
    position: relative;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/*------------------------------HEADER-----------------*/

header{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    width: 15%;
}

header nav ul{
    display: flex;
    width: 70%;
}

.titulo{
    font-family: 'Gochi Hand', cursive;
    font-weight: 200px;
    color: #851621;
    padding-left: 20px;
    align-items: start;
}


header nav ul li a{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: rgb(172, 172, 182);
    margin: 10px 40px 10px;
    border: solid rgb(172, 172, 182) 1px;
    border-radius: 5px;
    padding: 5px;
    background: rgb(172, 172, 182, 0.40);
    transition: .5s;
}

header nav ul a:hover{
    color:#851621;
}


/*-------------------------------FOOTER----------------------*/

footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div a img{
    height: 30px;
    border: solid black;
    border-radius: 10px;
    margin: 0 5px;
}


footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;
    color: #851621;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/*---------------------------INDEX----------------*/

.principal{
    width: 100%;
}

.hero{
    background-image: url("../img/porfin.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.hero p{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    justify-content: center;
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.hero div h2 span{
    font-size: 30px;
    color: #851621;
}

.enunciado{
    font-family: 'Gochi Hand', cursive;
    width: 80%;
    height: 200px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}


.bienvenida{
    background-color: white;
    width: 100%;
    height: 500px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
}

.bienvenida div img{
    width: 300px;
    height: 400px;
    border: solid gray;
    border-radius: 20px;
}

.bienvenida p{
    text-align: center;
    margin-top: 20px;
    width: 50%;
}


/*---------------------------------------ABOUT---------------------*/

.about{
    background-image: url(../img/porfin.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
}

.picture img{
    width: 400px;
    height: 350px;
    border: solid gray;
    border-radius: 10px;
    margin-top: 90px;
}

.descripcion{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.descripcion a{
    width: 200px;
    margin-left: 100px;
    background-color: gray;
    font-family: 'Gochi Hand', cursive;
    color: whitesmoke;
    font-size: 15px;
    border: solid 2px black;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px;
    transition: .5s;
}

.descripcion a:hover{
    color:#851621;
}

.descripcion h2{
    height: 50px;
    /* margin-top: 150px; */
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
    color: whitesmoke;
}

.descripcion h3{
    height: 50px;
    /* margin-top: 150px; */
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
    color: whitesmoke;
}

.aboutskills{
    background-color: gray;
    width: 100%;
    height: 500px;
}

.aboutskills h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: black;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.skills:hover > :not( :hover){
    opacity:.4;
    transform: scale(0.9);
}

.html{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: beige;
    border: solid 2px #851621;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: .3s all ease;
    margin-left: 10px;
}

.html:hover{
    flex: 2;
    background-color: #851621;
}

.css{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: beige;
    border: solid 2px #851621;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: .3s all ease;
    margin-left: 10px;
}

.css:hover{
    flex: 2;
    background-color: #851621;
}


.javascript{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: beige;
    border: solid 2px #851621;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: .3s all ease;
    margin-left: 10px;
}

.javascript:hover{
    flex: 2;
    background-color: #851621;
}

.java{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: beige;
    border: solid 2px #851621;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: .3s all ease;
    margin-left: 10px;
}

.java:hover{
    flex: 2;
    background-color: #851621;
}

.python{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: beige;
    border: solid 2px #851621;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: .3s all ease;
    margin-left: 10px;
}

.python:hover{
    flex: 2;
    background-color: #851621;
}

.reactjs{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: beige;
    border: solid 2px #851621;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    transition: .3s all ease;
    margin-left: 10px;
}

.reactjs:hover{
    flex: 2;
    background-color: #851621;
}


/*---------------------------------------SERVICES---------------------*/

.services{
    background-image: url(../img/porfin.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.services h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.jobs{
    text-align: center;
    color: beige(224, 210, 210);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    margin-top: 100px;
}

.designer{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #851621;
}

.designer img{
    margin-top: 20px;
    width: 350px;
    height: 200px;
    border: solid;
    border-radius: 10px;
    color: white;
    transition: all .3s;
}

.designer img:hover{
    transform: scale(1.15);
}

.backend{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #851621;
}

.backend img{
    margin-top: 20px;
    width: 350px;
    height: 200px;
    border: solid;
    border-radius: 10px;
    color: white;
    transition: all .3s;
}

.backend img:hover{
    transform: scale(1.15);
}

.frontend{
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #851621;
}

.frontend img{
    margin-top: 20px;
    width: 350px;
    height: 200px;
    border: solid;
    border-radius: 10px;
    color: white;
    transition: all .3s;
}

.frontend img:hover{
    transform: scale(1.15);
}

/*---------------------------------------PORTFOLIO---------------------*/

.portfolio{
    background-image: url("../img/porfin.jpg");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.portfolio h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.onetwo{
    display: flex;
    justify-content: center;
}

.twotwo{
    display: flex;
    justify-content: center;
}

.apple img{
    width: 350px;
    height: 250px;
    border: solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 100px;
    transition: all .3s;
}

.apple img:hover{
    transform: scale(1.15);
}

.samsung img{
    width: 350px;
    height: 250px;
    border: solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 100px;
    transition: all .3s;
}

.samsung img:hover{
    transform: scale(1.15);
}

.despegar img{
    width: 350px;
    height: 250px;
    border: solid black;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    transition: all .3s;
}

.despegar img:hover{
    transform: scale(1.15);
}

.amazon img{
    width: 350px;
    height: 250px;
    border: solid black;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    transition: all .3s;
}

.amazon img:hover{
    transform: scale(1.15);
}



/*---------------------------------------Contact-------------------------------*/

.contact{
    background-image: url("../img/porfin.jpg");
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contact h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*---------- Bootstrap-------*/

.input{
    width: 70%;
    height: 400px;
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: #851621;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3{
    width: 300px;
    height: 200px;
}

.mb-4{
    width: 300px;
    height: 200px;
}

.submit{
    width: 100px;
    height: 40px;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: rgb(172, 172, 182);
    border: solid rgb(172, 172, 182) 1px;
    border-radius: 5px;
    padding: 5px;
    background: rgb(172, 172, 182, 0.40);
    transition: .5s;
}

.submit:hover{
    color: #851621;
}

.reset{
    width: 120px;
    height: 40px;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: rgb(172, 172, 182);
    border: solid rgb(172, 172, 182) 1px;
    border-radius: 5px;
    padding: 5px;
    background: rgb(172, 172, 182, 0.40);
    transition: .5s;
}

.reset:hover{
    color: #851621;
}


/* .forma{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: beige;
    margin: 100px 100px 100px 100px;
    height: 200px;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
} */
