footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    div{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            img{
                height: 30px;
                border: solid black;
                border-radius: 10px;
                margin: 0 5px;
            }
        }
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        text-align: center;
        color: #851621;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}