/*-------- INICIO MAIN INDEX--------*/

.principal{
    width: 100%;
    .hero{
        background-image: url("../img/porfin.jpg");
        width: 100%;
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: nth($colores, 1);
        h1{
        font-family: 'Poppins', sans-serif;
        color: nth($colores, 1);
        font-size: nth($font-size, 5);
        justify-content: center;
        padding-top: 50px;
        text-transform: uppercase;
        letter-spacing: 5px;
        }
        .enunciado{
            font-family: 'Gochi Hand', cursive;
            width: 100%;
            height: 200px;
            margin: auto;
            margin-top: 100px;
            padding-top: 100px;
            @include flex (flex, center, center);
            img{
                width: 400px;
                height: 300px;
            }
            h2{
                font-size: nth($font-size, 6);
                width: 40%;
                margin-left: 50px;
                span{
                    font-size: nth($font-size, 5);
                    color: nth($colores, 3);
                    
                }
            }
        }
    }
    .bienvenida{
        background-color: nth($colores, 7);
        width: 100%;
        font-family: 'Gochi Hand', cursive;
        font-size: nth($font-size, 6);
        color: nth($colores, 2);
        display: flex;
        justify-content:space-evenly;
        margin-top: 30px;
        div{
            img{
                width: 300px;
                height: 400px;
                border: solid nth($colores, 5);
                border-radius: 50%;
            }
        }
        p{
            text-align: center;
            margin-top: 20px;
            width: 50%;
        }
    }
}
/*--------- FINAL MAIN INDEX------*/

/*---------- INICIO MAIN ABOUT--------*/

.about{
    background-image: url(../img/porfin.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    .descripcion{
        width: 45%;
        height: 700px;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: 50px;
        h1{
            height: 50px;
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 5);
            color: nth($colores, 3);
            margin-bottom: 20px;
        }
        h2{
            height: 50px;
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 5);
            color: nth($colores, 3);
            margin-bottom: 20px;
        }
        button{
            width: 150px;
            height: 40px;
            background-color: nth($colores, 5);
            font-family: 'Gochi Hand', cursive;
            color: nth($colores, 1);
            font-size: nth($font-size, 1);
            border: solid 2px nth($colores, 2);
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding: 5px 0;
            transition: .5s;
            &:hover{
            color: nth($colores, 3);
            }
        }
    }
    .picture{
        width: 550px;
        height: 300px;
        margin-top: 100px;
        margin-right: 50px;
        margin-left: 0px;
        padding-left: 0px;
        img{
            width: 400px;
            height: 300px;
        }
    }
}

.aboutskills{
    background-color: nth($colores, 5);
    width: 100%;
    height: 500px;
    h3{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: nth ($font-size, 6);
        color: nth ($colores, 2);
        padding: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        &:hover > :not( :hover){
            opacity:.4;
            transform: scale(0.9);
        }
        .html{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 6);
            border: solid 2px nth($colores, 3);
            border-radius: 10px;
            text-align: center;
            place-items: center;
            flex: 1;
            transition: .8s all ease;
            margin-left: 10px;
            &:hover{
                flex: 2;
                background-color: nth($colores, 3);
            }
            h4{
            }
        }
        .css{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 6);
            border: solid 2px nth($colores, 3);
            border-radius: 10px;
            text-align: center;
            flex: 1;
            transition: .8s all ease;
            margin-left: 10px;
            &:hover{
                flex: 2;
                background-color: nth($colores, 3);
            }
        }
        .javascript{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 6);
            border: solid 2px nth($colores, 3);
            border-radius: 10px;
            text-align: center;
            flex: 1;
            transition: .8s all ease;
            margin-left: 10px;
            &:hover{
                flex: 2;
                background-color: nth($colores, 3);
            }
        }
        .java{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 6);
            border: solid 2px nth($colores, 3);
            border-radius: 10px;
            text-align: center;
            flex: 1;
            transition: .8s all ease;
            margin-left: 10px;
            &:hover{
                flex: 2;
                background-color: nth($colores, 3);
            }
        }
        .python{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 6);
            border: solid 2px nth($colores, 3);
            border-radius: 10px;
            text-align: center;
            flex: 1;
            transition: .8s all ease;
            margin-left: 10px;
            &:hover{
                flex: 2;
                background-color: nth($colores, 3);
            }
        }
        .reactjs{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 6);
            border: solid 2px nth($colores, 3);
            border-radius: 10px;
            text-align: center;
            flex: 1;
            transition: .8s all ease;
            margin-left: 10px;
            &:hover{
                flex: 2;
                background-color: nth($colores, 3);
            }
        }
    }
}
/*-----------FINAL MAIN ABOUT---------*/

/*--------INICIO MAIN SERVICES------*/

.services{
    background-image: url(../img/porfin.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: nth($font-size, 5);
        color: nth($colores, 1);
        padding: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .jobs{
        text-align: center;
        color: beige(224, 210, 210);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 20px;
        margin-top: 100px;
        .designer{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 4);
            color: nth($colores, 3);
            img{
                margin-top: 20px;
                width: 350px;
                height: 200px;
                border: solid;
                border-radius: 10px;
                color: nth($colores, 7);
                transition: all 2s;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
        .backend{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 4);
            color: nth($colores, 3);
            img{
                margin-top: 20px;
                width: 350px;
                height: 200px;
                border: solid;
                border-radius: 10px;
                color: nth($colores, 7);
                transition: all 2s;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
        .frontend{
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 4);
            color: nth($colores, 3);
            img{
                margin-top: 20px;
                width: 350px;
                height: 200px;
                border: solid;
                border-radius: 10px;
                color: nth($colores, 7);
                transition: all 2s;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    }
}
/*--------FIN MAIN SERVICE-----*/

/*--------INICIO MAIN PORTFOLIO-------*/

.portfolio{
    background-image: url("../img/porfin.jpg");
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: nth($font-size, 5);
        color: nth($colores, 1);
        padding: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .por{
        margin-top: 50px;
        .onetwo{
            display: grid;
            place-items: center;
            gap: 30px;
            grid-template-columns: repeat(2, 2fr);
            .apple{
                a{
                    img{
                        width: 450px;
                        height: 300px;
                        border: solid nth($colores, 1);
                        border-radius: 20px;
                        transition: all .3s;
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
            }
            .samsung{
                a{
                    img{
                        width: 450px;
                        height: 300px;
                        border: solid nth($colores, 1);
                        border-radius: 20px;
                        transition: all .3s;
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
            }
            .despegar{
                a{
                    img{
                        width: 450px;
                        height: 300px;
                        border: solid nth($colores, 1);
                        border-radius: 20px;
                        transition: all .3s;
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
            }
            .amazon{
                a{
                    img{
                        width: 450px;
                        height: 300px;
                        border: solid nth($colores, 1);
                        border-radius: 20px;
                        transition: all .3s;
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
}


/*--------FIN MAIN PORTFOLIO-----*/

/*--------INICIO MAIN CONTACTO-------*/

.contact{
    background-image: url("../img/porfin.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: nth($font-size, 4);
        color: nth($colores, 1);
        padding: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    form{
        justify-content: center;
        align-items: center;
        .formulario{
            width: 500px;
            background: rgba(172, 172, 182, 0.40);
            padding: 30px;
            margin: auto;
            border-radius: 10px;
            font-family: 'Gochi Hand', cursive;
            font-size: nth($font-size, 3);
            color: nth($colores, 3);
            .controls{
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
                border: solid 1px nth($colores, 2);
            }
            p{
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-size: nth($font-size, 3);
                color: nth($colores, 3);
                padding: 5px;
                margin-top: 10px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            textarea{
                width: 100%;
                border-radius: 10px;
                border: solid 2px nth($colores, 2);
            }
            .botones{
                width: 100%;
                height: 40px;
                background-color: nth($colores, 5);
                font-family: 'Gochi Hand', cursive;
                color: nth($colores, 1);
                font-size: nth($font-size, 2);
                border: solid 2px nth($colores, 2);
                border-radius: 5px;
                text-transform: uppercase;
                letter-spacing: 5px;
                padding: 5px 0;
                transition: .5s;
                &:hover{
                    color: nth($colores, 3);
                }
            }
        }
    }
}