//* LISTAS

$colores:
whitesmoke,
black,
#851621,
rgb(172, 172, 182),
gray,
beige,
white;

$font-size:
10px,
12px,
20px,
30px,
40px,
50px,
60px;


//* MIXINS

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}